body{
    background-color: darkviolet;
}

h1{
    color:lightgray;
    background-color: indigo;
}

#show_sketches {
    float: right;
}

p, span{
    padding-top: 10px;
    font-size: 25px;
    color: lightgray;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    margin-top: 100px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

#score { 
    font-size:25px; 
    margin-left: 20px; 
}

#timer {
    font-size:25px; 
    float: right; 
    margin-right: 20px; 
}